<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style type="text/css">
        .remark {
            font-size:14px;
            color:red;
        }
    </style>
</head>
<body>
    <div style="width:600px; margin:20px auto 0 auto; font-size:18px">
        @RenderBody()
    </div>
</body>
</html>
